{{ define "main" }}

{{ partial "capcalera-pagina.html" (dict "etiqueta" "Agenda i esdeveniments" "titol" .Title "subtitol" "Descobreix els propers seminaris, tallers, sortides i fires on participa el Club de Física de la UAB. T'hi esperem!") }}

{{- $avui := now.Format "2006-01-02" -}}
{{- $propers := slice -}}
{{- $passats := slice -}}
{{- range .Pages.ByDate -}}
  {{- if ge (.Date.Format "2006-01-02") $avui }}{{ $propers = $propers | append . }}{{ end -}}
{{- end -}}
{{- range .Pages.ByDate.Reverse -}}
  {{- if lt (.Date.Format "2006-01-02") $avui }}{{ $passats = $passats | append . }}{{ end -}}
{{- end -}}

<div class="cf-contenidor cf-pagina-cos">
  {{- if $propers }}
  <section class="cf-bloc">
    <h2 class="cf-bloc-titol">Properes activitats</h2>
    <div class="cf-graella-posts">
      {{- range $propers }}
      {{ partial "targeta-esdeveniment.html" . }}
      {{- end }}
    </div>
  </section>
  {{- else }}
  {{ partial "agenda-buida.html" . }}
  {{- end }}

  {{- with $passats }}
  <section class="cf-bloc">
    <h2 class="cf-bloc-titol">Activitats anteriors</h2>
    <div class="cf-graella-posts">
      {{- range . }}
      {{ partial "targeta-esdeveniment.html" . }}
      {{- end }}
    </div>
  </section>
  {{- end }}
</div>

{{ end }}
