{{ define "main" }}

{{- $mesos := slice "gener" "febrer" "març" "abril" "maig" "juny" "juliol" "agost" "setembre" "octubre" "novembre" "desembre" -}}
{{- $mes := index $mesos (sub .Date.Month 1) -}}
{{- $de := cond (in (slice "abril" "agost" "octubre") $mes) "d'" "de " -}}
{{- $dataLlarga := printf "%d %s%s de %d" .Date.Day $de $mes .Date.Year -}}

<article>
  <header class="cf-capcalera-pagina">
    <div class="cf-capcalera-pagina-contingut cf-capcalera-pagina-contingut--estret">
      <a class="cf-tornar" href="{{ "agenda/" | relURL }}">{{ partial "icona.html" "arrow-left" }} Tornar a l'agenda</a>
      {{- with .Params.categories }}
      <ul class="cf-xips cf-xips--fosc">
        {{- range . }}
        <li class="cf-xip">{{ . }}</li>
        {{- end }}
      </ul>
      {{- end }}
      <h1 class="cf-capcalera-pagina-titol">{{ .Title }}</h1>
      <div class="cf-capcalera-meta">
        <span>{{ partial "icona.html" "calendar" }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ $dataLlarga }}</time></span>
        {{- with .Params.time }}
        <span>{{ partial "icona.html" "clock" }}{{ . }}</span>
        {{- end }}
        {{- with .Params.location }}
        <span>{{ partial "icona.html" "pin" }}{{ . }}</span>
        {{- end }}
      </div>
    </div>
  </header>

  <div class="cf-contenidor cf-contenidor--estret cf-pagina-cos">
    {{- with .Params.image }}
    <img class="cf-imatge-destacada" src="{{ . | relURL }}" alt="">
    {{- end }}
    <div class="prose prose-lg max-w-none cf-prose">
      {{ .Content }}
    </div>
  </div>
</article>

{{ end }}
