{{- /* Caixa lateral per seguir el blog: butlletí (si n'hi ha) i xarxes */ -}}
{{- $club := site.Params.club -}}
<div class="cf-caixa cf-caixa--segueix">
  <h2 class="cf-caixa-titol">Segueix el blog</h2>
  <p>No et perdis cap crònica de les reunions, xerrades i sortides del Club.</p>
  <div class="cf-segueix-accions">
    {{- with $club.butlleti }}
    <a class="cf-boto cf-boto--fosc" href="{{ . }}" target="_blank" rel="noopener noreferrer">{{ partial "icona.html" "mail" }} Apunta't al butlletí</a>
    {{- end }}
    {{- with $club.formulari }}
    <a class="cf-boto cf-boto--fosc" href="{{ . }}" target="_blank" rel="noopener noreferrer">{{ partial "icona.html" "mail" }} Vull rebre avisos</a>
    {{- end }}
    {{- with $club.instagram }}
    <a class="cf-boto cf-boto--contorn" href="https://www.instagram.com/{{ . }}/" target="_blank" rel="noopener noreferrer">{{ partial "icona.html" "instagram" }} Instagram</a>
    {{- end }}
    {{- with $club.x }}
    <a class="cf-boto cf-boto--contorn" href="https://x.com/{{ . }}" target="_blank" rel="noopener noreferrer">{{ partial "icona.html" "x" }} X</a>
    {{- end }}
  </div>
</div>
