{{- /* Portada: properes activitats de l'agenda (a partir d'avui, per data) */ -}}
{{- $esdeveniments := where site.RegularPages "Section" "agenda" -}}
{{- $avui := now.Format "2006-01-02" -}}
{{- $propers := slice -}}
{{- range $esdeveniments.ByDate -}}
  {{- if ge (.Date.Format "2006-01-02") $avui -}}
    {{- $propers = $propers | append . -}}
  {{- end -}}
{{- end -}}
<section class="cf-seccio cf-seccio--suau">
  <div class="cf-contenidor">
    <div class="cf-seccio-cap cf-seccio-cap--fila">
      <div>
        <p class="cf-etiqueta">Agenda</p>
        <h2 class="cf-seccio-titol">Properes activitats</h2>
        <p class="cf-seccio-subtitol">Seminaris, tallers, sortides i fires on participa el Club.</p>
      </div>
      {{- if $esdeveniments }}
      <a class="cf-boto cf-boto--contorn" href="{{ "agenda/" | relURL }}">Veure l'agenda {{ partial "icona.html" "arrow-right" }}</a>
      {{- end }}
    </div>
    {{- if $propers }}
    <ul class="cf-llista-events">
      {{- range first 3 $propers }}
      <li>{{ partial "fila-esdeveniment.html" . }}</li>
      {{- end }}
    </ul>
    {{- else }}
    {{ partial "agenda-buida.html" . }}
    {{- end }}
  </div>
</section>
