{{- /* Portada: els 3 últims posts del blog */ -}}
{{- $posts := (where site.RegularPages "Section" "blog").ByDate.Reverse -}}
<section class="cf-seccio cf-seccio--suau">
  <div class="cf-contenidor">
    <div class="cf-seccio-cap cf-seccio-cap--fila">
      <div>
        <p class="cf-etiqueta">Blog</p>
        <h2 class="cf-seccio-titol">Últimes notícies</h2>
        <p class="cf-seccio-subtitol">Reunions, xerrades, fires i sortides explicades pels membres del Club.</p>
      </div>
      <a class="cf-boto cf-boto--contorn" href="{{ "blog/" | relURL }}">Veure tots els posts {{ partial "icona.html" "arrow-right" }}</a>
    </div>
    <div class="cf-graella-posts cf-graella-posts--3">
      {{- range first 3 $posts }}
      {{ partial "targeta-post.html" (dict "pagina" . "nivell" 3) }}
      {{- end }}
    </div>
  </div>
</section>
